{
  "extends": ["next", "prettier", "next/core-web-vitals"],
  "rules": {
    "no-restricted-imports": [
      "error",
      { "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"] }
    ]
  }
}
